<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Happy Paws</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <!--  <link href="assets/img/favicon.png" rel="icon">-->
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../static/happy_paws/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/happy_paws/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../static/happy_paws/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../static/happy_paws/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../static/happy_paws/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../static/happy_paws/assets/css/main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <!-- =======================================================
    * Template Name: Yummy
    * Updated: May 30 2023 with Bootstrap v5.3.0
    * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between ">
        <a href="#" class="logo d-flex align-items-center me-auto me-lg-0">

            <h1>Happy <br> Paws<img
                    src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/19454/cat-s-paw-clipart-md.png"
                    height="45"
                    alt="MDB Logo"
                    loading="lazy" style="transform: rotate(-18deg);margin-top: -5.5vh;margin-left: 2vw"/></h1>
        </a>


        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="#hero">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#menu">Menu</a></li>
                <li><a href="#events">Events</a></li>
                <li><a href="#chefs">Services</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li class="dropdown"><a href="#"><span>Drop Down</span> <i
                        class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Drop Down 2</a></li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                    </ul>
                </li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <!-- .navbar -->

        <!--        <a class="btn-book-a-table" style="width: 13vw" href="#book-a-table">Book a Table</a>-->
        <a id="login" style="width: 6vw; text-align: center" class="btn-book-a-table" th:href="@{/account/login}" th:text="'Login'"></a>
        <a class="btn-book-a-table" style="width: 6vw; text-align: center" sec:authorize="hasAnyRole('ADMIN','CUSTOMER','EMPLOYEE')"
           th:href="@{/account/logout}">Logout</a>
        <a class="btn-book-a-table" style="width: 15vw; text-align: center"  sec:authorize="hasRole('ADMIN')"
           th:href="@{/account/}" th:text="'Admin Manager'"></a>
        <a class="btn-book-a-table" style="width: 15vw; text-align: center"  sec:authorize="hasRole('CUSTOMER')"
           th:text="${#authentication.getName()}"></a>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
</header><!-- End Header -->
<body>
<section  class="section-bg">
    <div class="container" >

        <div class="section-header">

            <p>Our <span>Professional</span> Services</p>
        </div>
        <div>
            <a th:href="@{/booking/done/(bookingServiceId = ${bookingServiceId})}"><button>Done Reservation</button></a>
        </div>

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch"
                 th:each="petService : ${petServiceList}">
                <a th:href="@{/booking/add/(petServiceId = ${petService.petServiceId}, bookingServiceId = ${bookingServiceId})}">
                <div class="chef-member">
                    <div class="member-img">
                        <img src="assets/img/chefs/chefs-1.jpg" class="img-fluid" alt="">

                    </div>
                    <div class="member-info">
                        <h4 th:text="${petService.name}"></h4>
                        <div style="background-size: cover">
                            <img th:src="${petService.image}" alt="" width="100%" style="border-radius: 10px">
                        </div>
                        <p th:text="${petService.description}"></p>
                        <h5 th:text="${ '$'+ petService.price}"></h5>
                    </div>
                </div></a>
            </div><!-- End Chefs Member -->
        </div>
    </div>
</section><!-- End Chefs Section -->
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script th:if="${mess  == true}">
    // let inputId = document.getElementById("inputId");
    // if (inputId && inputId.innerText) {
    swal({
        title: "SUCCESSFULLY",
        text: "Thank you for choosing",
        icon: "success",
        button: "OK",
    }).then((idOk) => {
        if (idOk) inputId.innerText = ''
    });
    // }
</script>
<script th:if="${mess == false}">
    // let inputId = document.getElementById("inputIdd");
    // if (inputId && inputId.innerText) {
    swal({
        title: "ERROR",
        text: "It has been in your choice, please try again",
        icon: "error",
        button: "OK",
    }).then((idOk) => {
        if (idOk) inputId.innerText = ''
    });
    // }

</script>
</html>
<script src="../../static/happy_paws/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../static/happy_paws/assets/vendor/aos/aos.js"></script>
<script src="../../static/happy_paws/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../../static/happy_paws/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="../../static/happy_paws/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../../static/happy_paws/assets/vendor/php-email-form/validate.js"></script>