<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/crud_table.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <style th:replace="~{fragment.html::css}"></style>
</head>
<body>
<div th:replace="~{fragment.html::header}"></div>
<div class="container">
    <div class="table-wrapper" style="height: 83vh">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><b>List Customer</b></h2>
                </div>
                <!--                <a th:attr="onclick=|infoProduct(${product.id},${customerId},'${product.name}')|" href="#addEmployeeModal" class="add" data-toggle="modal"><i class="material-icons"-->
                <!--                                                                                                                                                              data-toggle="tooltip"-->
                <!--                                                                                                                                                              title="Add">&#xE145;</i></a>-->
                <div class="col-sm-6">
<!--                    <a th:href="@{/customer/create}" class="btn btn-success" data-toggle="modal"><i-->
<!--                            class="material-icons">&#xE147;</i>-->
<!--                        <span>Add New Customer</span></a>-->
                </div>
            </div>
        </div>
        <div class="row mt-1 container-fluid">
            <div class="col-2">
                <button onclick="window.history.back()" class="btn btn-sm btn-primary material-icons"
                        data-toggle="modal">&#xE5e0;
                </button>
                <a th:href="@{/orders}" class="btn btn-sm btn-primary " data-toggle="modal">Home</a>
            </div>
            <form th:action="@{/orders/search-customer}" method="get" class="col-10">
                <div class="row">
                    <div class="col-8">
                        <input class="form-control form-control-sm" type="text" placeholder="Name"
                               aria-label=".form-control-sm example" name="name" th:value="${name}">
                    </div>
                    <div class="col-3">
                        <input class="form-control form-control-sm" type="text" placeholder="Phone"
                               aria-label=".form-control-sm example" name="phone" th:value="${phone}">
                    </div>
                    <div class="col-1">
                        <button class="btn btn-sm btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer: ${customerPage}">
                <td th:text="${customer.customerId}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.phone}"></td>
                <td th:text="${customer.address}"></td>
                <td>
                    <a th:href="@{/order-detail/create/(customerId = ${customer.customerId})}" class="add"
                       data-toggle="modal"><i class="material-icons"
                                              data-toggle="tooltip"
                                              title="Add">&#xE145;</i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="${notFound}">
            <h3 style="text-align: center; color: red">No products found.</h3>
        </div>
        <div th:if="${customerPage.getTotalElements()>0}">
            <div th:if="${pageList == true}">
                <a class="btn btn-sm btn-outline-primary" style="border: 1px solid #007bff"
                   th:href="@{/orders/create(page = ${customerPage.number - 1})}" th:if="${customerPage.hasPrevious()}">Previous</a>
                <th:block th:each=" pageNo : ${#numbers.sequence(0,customerPage.getTotalPages() -1)}">
                    <a class="btn btn-sm btn-outline-primary" style="border: 1px solid #007bff"
                       th:href="@{/orders/create(page = ${pageNo})}" th:text="${pageNo +1}"
                       th:classappend="${pageNo == customerPage.number ? 'active' : ''}"></a>
                </th:block>
                <a class="btn btn-sm btn-outline-primary" style="border: 1px solid #007bff"
                   th:href="@{/orders/create(page = ${customerPage.number + 1})}" th:if="${customerPage.hasNext()}">Next</a>
            </div>
            <div th:if="${pageSearch == true}">
                <a class="btn btn-sm btn-outline-primary" style="border: 1px solid #007bff"
                   th:href="@{/orders/search-customer(name =${name},phone = ${phone},page = ${customerPage.number - 1})}"
                   th:if="${customerPage.hasPrevious()}">Previous</a>
                <th:block th:each=" pageNo : ${#numbers.sequence(0,customerPage.getTotalPages() -1)}">
                    <a class="btn btn-sm btn-outline-primary" style="border: 1px solid #007bff"
                       th:href="@{/orders/search-customer(name =${name},phone = ${phone},page = ${pageNo})}"
                       th:text="${pageNo +1}" th:classappend="${pageNo == customerPage.number ? 'active' : ''}"></a>
                </th:block>
                <a class="btn btn-sm btn-outline-primary" style="border: 1px solid #007bff"
                   th:href="@{/orders/search-customer(name =${name},phone = ${phone},page = ${customerPage.number + 1})}"
                   th:if="${customerPage.hasNext()}">Next</a>
            </div>
        </div>

    </div>
</div>
<div th:replace="~{fragment.html::footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>