<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Title</title>-->
<!--</head>-->
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">-->
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--<link rel="stylesheet" href="-->
<!--https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<!--<link rel="stylesheet" href="../../../static/crud_table.css">-->
<!--<body>-->
<!--<form th:action="@{/api/admin/pet-service/edit}" method="post" th:object="${petServiceDTO}">-->
<!--  <div class="modal-header">-->
<!--    <h4 class="modal-title">Update Service</h4>-->
<!--    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
<!--  </div>-->
<!--  <div class="modal-body">-->
<!--    <div class="form-group">-->
<!--      <input th:field="*{petServiceId}" type="hidden" class="form-control" />-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>Name</label>-->
<!--      <input th:field="*{name}" type="text" class="form-control" >-->
<!--      <p style="color:red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>Price</label>-->
<!--      <input th:field="*{price}" required type="number"  class="form-control" >-->
<!--      <p style="color:red;" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>Description</label>-->
<!--      <textarea th:field="*{description}" class="form-control" ></textarea>-->
<!--      <p style="color:red;" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      &lt;!&ndash;            <label>Image</label>&ndash;&gt;-->
<!--      &lt;!&ndash;            <input type="text" class="form-control" >&ndash;&gt;-->
<!--      <label for="thumbnailURL">ThumbnailURL:</label>-->
<!--      <input type="hidden" id="thumbnailURL" th:field="*{image}" />-->
<!--      <input id="btnThumbnailURL" type="file" class="form-control" />-->
<!--      <progress id="uploader" value="0" max="100">0%</progress>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="modal-footer">-->
<!--    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">-->
<!--    <input type="submit" class="btn btn-success" value="Add">-->
<!--  </div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
<!--<script src="/crud_table.js"></script>-->
<!--<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>-->

<!--<script>-->
<!--  const firebaseConfig = {-->
<!--    apiKey: "AIzaSyDpLFDgziCMcgvUDrE64kNuoYiKvU3PeKg",-->
<!--    authDomain: "paws-image.firebaseapp.com",-->
<!--    projectId: "paws-image",-->
<!--    storageBucket: "paws-image.appspot.com",-->
<!--    messagingSenderId: "939502564406",-->
<!--    appId: "1:939502564406:web:a127764d05552a5bb3d497",-->
<!--    measurementId: "G-QQV6T9DTSD"-->
<!--  };-->

<!--  // Initialize Firebase-->
<!--  firebase.initializeApp(firebaseConfig);-->
<!--  // const analytics = getAnalytics(app);-->
<!--  let uploader = document.getElementById('uploader');-->
<!--  let fileButton = document.getElementById('btnThumbnailURL');-->
<!--  fileButton.addEventListener('change', function (e) {-->
<!--    let file = e.target.files[0];-->
<!--    let storageRef = firebase.storage().ref('img/' + file.name);-->
<!--    let task = storageRef.put(file);-->
<!--    task.on('state_changed', function progress(snapshot) {-->
<!--      let percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;-->
<!--      uploader.value = percentage;-->

<!--    });-->

<!--    task-->
<!--            .then(snapshot => snapshot.ref.getDownloadURL())-->
<!--            .then(url => {-->
<!--              document.getElementById('thumbnailURL').setAttribute("value", url);-->
<!--            })-->
<!--  });-->
<!--</script>-->